@import '../_variables.scss';

.el-message {
  background: $dark-gray;
  border: none;
  box-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.2);
  color: $white-matter;
  top: 8px;
  padding: 8px 16px;
  &.with-header {
    top: 58px;
  }
  &.width-auto {
    width: auto;
  }
  &.el-message--success {
    background: $success-color;
    .el-message__content {
      color: #fff;
    }
  }
  &.el-message--error {
    background: $error-color
  }
  &.el-message--info {
    background: $notification-color;
  .el-message__content {
    color: #37300a;
  }
  a {
      color: #37300a;
      text-decoration: underline;
    }
  }
  .icon-message, .el-message__icon {
    display: none;
  }
}
.el-message__content {
  color: #37300a;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  width: 100%;
}
.el-message__closeBtn {
  color: $white-matter;
  &:hover {
    color: $white-matter;
    opacity: .7
  }
}
